<div  style="width: 98%; padding-left: 0.5%; padding-top: 1%;">
<div class="row text-center">
  <div class="col-md-4" style="padding-left: 3%;">
    <div  class="btn btn-primary" style="width: 30%;">
     + create new
    </div>
    <div class="btn-group" style="padding-left: 26%;">
    
      <div style="background-color: rgb(197, 194, 194);border: none;color: black;"
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
       
      >
      <
      </div>&nbsp;
      <div style="background-color: rgb(197, 194, 194);border: none;color: black;"
      class="btn btn-primary"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
    >
    </div>&nbsp;
      <div
        class="btn btn-primary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
       
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en'}}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>&nbsp;
      <div style="background-color: rgb(197, 194, 194);border: none;color: black;"
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>&nbsp;
      <div style="background-color: rgb(197, 194, 194);border: none;color: black;"
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>
<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <p>Drag and Drop Your event or Click in the calender</p>
  <div class="row">
    <div class="col-1"><span class="dot"></span></div>
    <div class="col">High priorty events</div>
  </div><br>
  <div class="row">
    <div class="col-1"><span class="dot1"></span></div>
    <div class="col">Family events</div>
  </div><br>
  <div class="row">
    <div class="col-1"><span class="dot2"></span></div>
    <div class="col">none-Priority events</div>
  </div><br>
  <mat-checkbox style="padding-left: 5%;">Remove after drop</mat-checkbox>
  </mat-drawer>
  <mat-drawer-content>
    

    <div style="width: 98%; height: 100%; padding-left: 0.5%;" >
      <br />
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [cellTemplate]="customCellTemplate"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        <ng-template #customCellTemplate></ng-template>
         
        </mwl-calendar-month-view>
        <!-- <mwl-calendar-week-view -->
          <!-- *ngSwitchCase="CalendarView.Week" -->
          <!-- [viewDate]="viewDate" -->
          <!-- [events]="events" -->
          <!-- [refresh]="refresh" -->
          <!-- (eventClicked)="handleEvent('Clicked', $event.event)" -->
          <!-- (eventTimesChanged)="eventTimesChanged($event)" -->
        <!-- > -->
        <!-- </mwl-calendar-week-view> -->
        <!-- <mwl-calendar-day-view -->
          <!-- *ngSwitchCase="CalendarView.Day" -->
          <!-- [viewDate]="viewDate" -->
          <!-- [events]="events" -->
          <!-- [refresh]="refresh" -->
          <!-- (eventClicked)="handleEvent('Clicked', $event.event)" -->
          <!-- (eventTimesChanged)="eventTimesChanged($event)" -->
        <!-- > -->
        <!-- </mwl-calendar-day-view> -->
      </div>
      <br /><br /><br />
      <!-- <ng-template #modalContent let-close="close"> -->
        <!-- <div class="modal-header"> -->
          <!-- <h5 class="modal-title">Event action occurred</h5> -->
          <!-- <button type="button" class="close" (click)="close()"> -->
            <!-- <span aria-hidden="true">&times;</span> -->
          <!-- </button> -->
        <!-- </div> -->
        <!-- <div class="modal-body"> -->
          <!-- <div> -->
            <!-- Action: -->
            <!-- <pre>{{ modalData?.action }}</pre> -->
          <!-- </div> -->
          <!-- <div> -->
            <!-- Event: -->
            <!-- <pre>{{ modalData?.event | json }}</pre> -->
          <!-- </div> -->
        <!-- </div> -->
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-outline-secondary" (click)="close()"> -->
            <!-- OK -->
          <!-- </button> -->
        <!-- </div> -->
      <!-- </ng-template> -->
      </div>

  </mat-drawer-content>
</mat-drawer-container>

</div>






