<div class="row">
    <div class="col-md-6 padd">
        <div class="row">

            <div class="col-1">
                <h3 routerLinkActive="active"> <a routerLink='/Login' class="line">Login</a></h3>
            </div>
            <div class="col-1">
                <h3> <a routerLink='/signin' class="line1">Register</a> </h3>
            </div>
        </div>
        <small>Use your credentials to login into account</small>
        <br><br>
        <form>
            <div class="fontuser">

                <input style="width: 55%;" class="form-control input inputwithicon" name="username" placeholder=" Email Address" required><i class="fa fa-envelope-o"></i>
                <!-- <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> -->


                <br>
                <div class="fontpassword">

                    <input style="width: 55%;" class="form-control input inputwithicon" name="password" placeholder="Password" required> <i class="fa fa-lock fa-lg"></i>
                </div>
            </div><br>

            <div class="row">
                <div class="col-5"><button type="button" class="btn btn-primary btn-md btn-block button" style="width: 160px;">Login</button></div>
                <div class="col-1"> <small style="cursor: pointer; color: blue;"><a a routerLink='/forgetpassword' class="line4">Forgotpassword?</a></small></div>

            </div><br><br>
            <small style="padding-left:150px;">
                Or Login With
            </small><br><br>
            <small>
                <div class="row" style="padding-left:30px;">
                    <div class="col-2">
                        Google+
                    </div> &nbsp;
                    <div class="col-2">
                        Twitter
                    </div>
                    <div class="col-2">
                        Facebook
                    </div>

                </div>
            </small>
        </form>

    </div>
    <div class="col-md-6 padd1">
        <div>
            <img src="assets/Login_Vector.png" style="width: 600px; height: 600px;">
        </div>
    </div>
</div>