.input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    box-shadow: none;
}

.input:hover {
    box-shadow: none;
}

.padd {
    padding-left: 10%;
    padding-top: 15%;
}

.padd1 {
    padding-top: 5%;
}

.padd2 {
    padding-top: 5%;
}

.fontuser {
    position: relative;
}

.fontuser i {
    position: absolute;
    left: 1px;
    top: 15px;
    color: gray;
}

.fontpassword {
    position: relative;
}

.fontpassword i {
    position: absolute;
    left: 1px;
    top: 15px;
    color: gray;
}

.line {
    text-decoration: none;
    color: black;
    line-height: 10px;
    border-bottom: 5px solid blue;
}

.line1 {
    text-decoration: none;
    color: black;
    line-height: 10px;
}

.line4 {
    text-decoration: none;
}