<!-- 
          


<div class="div">
    <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
         <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
          <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
         <mat-button-toggle class="toggle" value="Security">Security</mat-button-toggle>
   </mat-button-toggle-group>
      <br><br>
<mat-card class="example-card">
    <h3><strong>change password </strong></h3> 
    
    <br>
    <mat-card-content>
       
          <form class="example-form">
            <mat-form-field class="input-width">
                <mat-label>old password</mat-label>
                <input matInput  placeholder="First Name">
              </mat-form-field>
             
            </form>

            <form class="example-form">
                <mat-form-field class="input-width">
                    <mat-label>New password</mat-label>
                    <input matInput  placeholder="First Name">
                  </mat-form-field>
                 
                </form>

                <form class="example-form">
                    <mat-form-field class="input-width">
                        <mat-label>Repeat New Password</mat-label>
                        <input matInput  placeholder="First Name">
                      </mat-form-field>
                     
                    </form>

                    <button mat-raised-button>Basic</button> &nbsp;
          <button mat-raised-button color="primary">Save changes</button>
    </mat-card-content>
    
  </mat-card></div>
  
    
      
      
  
  
   -->