<div class="row">
    <div class="col-md-6 padd">
        <h3> Reset password</h3>
        <small>please enter a aemail address <br> we will sent a password link</small>
        <br><br>
        <form>
            <div class="fontuser ">

                <input style="width: 55%;" class="form-control input inputwithicon" name="username"
                    placeholder=" Email Address" required><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>

            </div><br>

            <div class="row">
                <div class="col-4"><button type="button" class="btn btn-primary btn-md btn-block button"
                        style="width: 420px;">Sent request Link</button></div>



            </div><br><br>

        </form>

    </div>
    <div class="col-md-6 padd1">
        <div>
            <img src="assets/Forgot Password_Vector.png" style="width: 600px; height: 600px;">
        </div>
    </div>
</div>
