<!-- <div class="div"> 
    <h1><strong>Account settings </strong></h1>
    <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
         <mat-button-toggle (click)="profile()" class="toggle" value="Profile">Profile</mat-button-toggle>
          <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
         <mat-button-toggle value="Security">Security</mat-button-toggle>
   </mat-button-toggle-group>
      <br><br>
<mat-card class="example-card" *ngIf="visible">
    <h3><strong>Personal Information </strong></h3> 
    <mat-card-header>
      <div><img mat-card-avatar style="height: 150px;width: 150px;padding-right: 40px;" src="assets/logo-ai.png"></div>
    </mat-card-header>
    <br>
    <mat-card-content>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label >First Name</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label>Last Name</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <form class="example-form">
            <mat-form-field class="input-width1">
                <mat-label>Email</mat-label>
                <input matInput  placeholder="First Name">
              </mat-form-field>
             
            </form>
    </mat-card-content>


    <h3><strong>App Preference </strong></h3> 
   
    <mat-card-content>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label >Time Zone</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label>Time Format</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label >Number Format</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label>Distance Format</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label >Date Format</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width1" >
              <mat-label>First day of the Week</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <button mat-raised-button>Basic</button> &nbsp;
          <button mat-raised-button color="primary">Save changes</button>
    </mat-card-content>
    
  </mat-card></div>   -->





<!-- billing -->

<!-- <div class="div">
        <h1><strong>Account settings </strong></h1><br>
        <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
             <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
              <mat-button-toggle class="toggle" value="Billing&Plan" >Billing&Plan</mat-button-toggle>
             <mat-button-toggle value="Security">Security</mat-button-toggle>
       </mat-button-toggle-group>

<br><br>

       <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">

        
              <h1><strong>Account settings </strong></h1><br>
       
        <ng-container matColumnDef="plan">
          <th mat-header-cell *matHeaderCellDef><h2 style="color: black;">billing Information </h2> </th>
          <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
        </ng-container>
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="weight">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
        </ng-container>
      
    
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element" style="color: blue;"> {{element.symbol}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
    </div> -->










<!-- security -->

<!-- <div class="div">
  <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
       <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
        <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
       <mat-button-toggle class="toggle" value="Security">Security</mat-button-toggle>
 </mat-button-toggle-group>
    <br><br>
<mat-card class="example-card">
  <h3><strong>change password </strong></h3> 
  
  <br>
  <mat-card-content>
     
        <form class="example-form">
          <mat-form-field class="input-width">
              <mat-label>old password</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form>

          <form class="example-form">
              <mat-form-field class="input-width">
                  <mat-label>New password</mat-label>
                  <input matInput  placeholder="First Name">
                </mat-form-field>
               
              </form>

              <form class="example-form">
                  <mat-form-field class="input-width">
                      <mat-label>Repeat New Password</mat-label>
                      <input matInput  placeholder="First Name">
                    </mat-form-field>
                   
                  </form>

                  <button mat-raised-button>Basic</button> &nbsp;
        <button mat-raised-button color="primary">Save changes</button>
  </mat-card-content>
  
</mat-card>
</div>  -->



<!-- mat-align-tabs="center" -->

<!-- full page -->

<div class="div">
  <h1><strong>Account settings </strong></h1>

  <mat-tab-group mat-stretch-tabs animationDuration="0ms" mat-align-tabs="center">
    <mat-tab label="profile">

      <br><br>
      <mat-card class="example-card">
        <h3 style="text-align: left;">Personal Information </h3>
        <mat-card-header>
          <div><img mat-card-avatar style="height: 150px;width: 150px;padding-right: 40px;" src="assets/logo-ai.png">
          </div>
        </mat-card-header>
        <br>
        <mat-card-content>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
            </tr>
          </table>
          <form class="example-form">
            <mat-form-field class="input-width1">
              <mat-label>Email</mat-label>
              <input matInput placeholder="First Name">
            </mat-form-field>

          </form>
        </mat-card-content>


        <h3 style="text-align: left;"><strong>App Preference </strong></h3>

        <mat-card-content>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Time Zone</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Time Format</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
            </tr>
          </table>
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Number Format</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Distance Format</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
            </tr>
          </table>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>Date Format</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
              <td>
                <form class="example-form">
                  <mat-form-field class="input-width1">
                    <mat-label>First day of the Week</mat-label>
                    <input matInput placeholder="First Name">
                  </mat-form-field>

                </form>
              </td>
            </tr>
          </table>
          <div style="text-align: left;">
            <button mat-raised-button>Basic</button> &nbsp;
            <button mat-raised-button color="primary">Save changes</button>
          </div>

        </mat-card-content>

      </mat-card>
    </mat-tab>



    <mat-tab label="billing & plan">

      <div class="div">





        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">


          <h1><strong>Account settings </strong></h1><br>

          <ng-container matColumnDef="plan">
            <th mat-header-cell *matHeaderCellDef>
              <h2 style="color: black;">billing Information </h2>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.plan}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>


          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element" style="color: blue;"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


      </div>
    </mat-tab>


    <mat-tab label="Security">
      <div class="div">

        <br><br>
        <mat-card class="example-card">
          <h3 style="text-align: left;">change password </h3>

          <br>
          <mat-card-content>

            <form class="example-form">
              <mat-form-field class="input-width">
                <mat-label>old password</mat-label>
                <input matInput placeholder="First Name">
              </mat-form-field>

            </form>

            <form class="example-form">
              <mat-form-field class="input-width">
                <mat-label>New password</mat-label>
                <input matInput placeholder="First Name">
              </mat-form-field>

            </form>

            <form class="example-form">
              <mat-form-field class="input-width">
                <mat-label>Repeat New Password</mat-label>
                <input matInput placeholder="First Name">
              </mat-form-field>

            </form>
            <div style="text-align: left;">
              <button mat-raised-button>Basic</button> &nbsp;
              <button mat-raised-button color="primary">Save changes</button>
            </div>
          </mat-card-content>

        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>


<!-- 
<mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
  <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
   <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
  <mat-button-toggle class="toggle" value="Security">Security</mat-button-toggle>
</mat-button-toggle-group> -->



<!-- <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
           <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
            <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
           <mat-button-toggle class="toggle" value="Security">Security</mat-button-toggle>
     </mat-button-toggle-group> -->



<!-- <h1><strong>Account settings </strong></h1><br>
    <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
         <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
          <mat-button-toggle class="toggle" value="Billing&Plan" >Billing&Plan</mat-button-toggle>
         <mat-button-toggle value="Security">Security</mat-button-toggle>
   </mat-button-toggle-group>
   -->