
<div class="div">
    <h1><strong>Account settings </strong></h1>
    <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
         <mat-button-toggle (click)="profile()" class="toggle" value="Profile">Profile</mat-button-toggle>
          <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
         <mat-button-toggle value="Security">Security</mat-button-toggle>
   </mat-button-toggle-group>
      <br><br>
<mat-card class="example-card" *ngIf="visible">
    <h3><strong>Personal Information </strong></h3> 
    <mat-card-header>
      <div><img mat-card-avatar style="height: 150px;width: 150px;padding-right: 40px;" src="assets/logo-ai.png"></div>
    </mat-card-header>
    <br>
    <mat-card-content>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label >First Name</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label>Last Name</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <form class="example-form">
            <mat-form-field class="input-width">
                <mat-label>Email</mat-label>
                <input matInput  placeholder="First Name">
              </mat-form-field>
             
            </form>
    </mat-card-content>


    <h3><strong>App Preference </strong></h3> 
   
    <mat-card-content>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label >Time Zone</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label>Time Format</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label >Number Format</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label>Distance Format</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>

          <table class="example-full-width" cellspacing="0"><tr>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label >Date Format</mat-label>
              <input  matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
            <td><form class="example-form">
          <mat-form-field class="input-width" >
              <mat-label>First day of the Week</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form></td>
          </tr></table>
          <button mat-raised-button>Basic</button> &nbsp;
          <button mat-raised-button color="primary">Save changes</button>
    </mat-card-content>
    
  </mat-card></div>
  
    
      
      <!-- billing -->
      
      <div class="div">
        <h1><strong>Account settings </strong></h1><br>
        <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
             <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
              <mat-button-toggle class="toggle" value="Billing&Plan" >Billing&Plan</mat-button-toggle>
             <mat-button-toggle value="Security">Security</mat-button-toggle>
       </mat-button-toggle-group>
    </div>
     
    

    <!-- security -->

    
          


<div class="div">
  <mat-button-toggle-group  class="borderradius"name="fontStyle" aria-label="Font Style">
       <mat-button-toggle  value="Profile">Profile</mat-button-toggle>
        <mat-button-toggle  value="Billing&Plan" >Billing&Plan</mat-button-toggle>
       <mat-button-toggle class="toggle" value="Security">Security</mat-button-toggle>
 </mat-button-toggle-group>
    <br><br>
<mat-card class="example-card">
  <h3><strong>change password </strong></h3> 
  
  <br>
  <mat-card-content>
     
        <form class="example-form">
          <mat-form-field class="input-width">
              <mat-label>old password</mat-label>
              <input matInput  placeholder="First Name">
            </mat-form-field>
           
          </form>

          <form class="example-form">
              <mat-form-field class="input-width">
                  <mat-label>New password</mat-label>
                  <input matInput  placeholder="First Name">
                </mat-form-field>
               
              </form>

              <form class="example-form">
                  <mat-form-field class="input-width">
                      <mat-label>Repeat New Password</mat-label>
                      <input matInput  placeholder="First Name">
                    </mat-form-field>
                   
                  </form>

                  <button mat-raised-button>Basic</button> &nbsp;
        <button mat-raised-button color="primary">Save changes</button>
  </mat-card-content>
  
</mat-card></div>

  
    
    



  
  
  